.btn {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.status {
    float: right;
    margin-right: 5%;
}

.error {
    color: red;
}

.no-error {
    color: green;
}